version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: aether-postgres
    restart: always
    environment:
      POSTGRES_USER: aether_user
      POSTGRES_PASSWORD: aether_password
      POSTGRES_DB: aether_db
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
